main {
    display: flex;
    height: 100vh;
}


.productos {
    padding-top: 16px;
    padding: 16px;
    flex: 3;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    
} 

.formulario{
    align-items: center;
    padding: 100px 0;
    flex: 1;
    padding: 16px;
    margin-top: 2vw;
    
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.333% - 16px); /* 3 cards per row with a 16px gap */
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px; 
    margin-top: 2vw; 
    background-color: #9867C5;
     
}

.cuerpo{
    padding: 10px;
    flex: 1 1 100%;
}

.img-producto {
    height: 50vh;
    width: 100%;
    object-fit: cover;

}

.input-container {
    margin-bottom: 16px;
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
    padding: 16px 0;
}



.input {
   padding-left: 10px;
   width: 413px;
   height: 63.13px;
   background: rgb(246, 250, 249); 
   border-radius: 4px;
   border: none;
   border-bottom: 1px solid cadetblue;
   border-radius: 5vw;
    
}

.input_image_label {
   background: rgb(246, 250, 249); 
   border-radius: 4px;
   border: none;
   border-bottom: 1px solid cadetblue;
}

.titulo_producto {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #9867C5;
}

.title-product {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    color: #9867C5;
}

.btn_enviar, .btn_limpiar {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.btn_enviar, .btn_limpiar:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

.agregar_imagen {
    margin-top: 16px;
}

.cards {
    gap: 16px;
} 


.menu_contacto {
    width: 85%;
    margin: 0 auto;
    margin-top: 5vw;
    padding: 16px 10%;
}

.menu_contacto_box {
    width: 40%;
}

.footer_end {
    text-align: center;
    font-family: sans-serif;
}
